Button.contained, a.contained {
    background-color: #a8dadc;
    text-transform: none;
    color:#444;
}

Button.contained:hover, a.contained:hover {
    background-color: #219ebc;
    color:#FFF;
}