.causeList {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;

}

ul.causeList {
    list-style: none;
}

.causeList li {
    width: 22rem;
    display: flex;
    margin: 0 0.5rem;
}