.cause {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
    transition: box-shadow 0.8s;
}

.cause .image {
    width: 100%;
    height: 225px;
    overflow: hidden;
    background-color: #f6f6f6;
    border-bottom: 2px solid #f1f1f1;
    border-radius: 8px 8px 0 0;
    position: relative;
}

.cause .image img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
}

.cause:hover {
    box-shadow: 4px 8px 15px rgb(0 0 0 / 40%);
}

.cause:hover .image img {
    transform: scale(1.1);
}

.cause .details {
    padding: 10px 25px;
}

.cause .details > * {
    margin: 20px 0;
    hyphens: auto;
    line-height: 20px;
}

.cause .details .title {
    text-align: center;
    margin: 10px;
}

.cause .details .desc {
    text-align: justify;
}

.cause .details .cardFooter {
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
}

.cause .details .cardFooter .status {
    border: 1px solid rgba(25, 118, 210, 0.5);
    color: #1976d2;
    padding: 5px 15px;
    border-radius: 4px;
    margin: 0 5px;
}

.cause .details .cardFooter .status.completed {
    border: 1px solid green;
    color: green;
}

.cause .details .cardFooter .status.progress {
    border: 1px solid orange;
    color: orange;
}

.cardFooter .button {
    padding: 5px 15px;
}
